dist
node_modules/
build
.npm
logs
*.log
npm-debug.log*
dump.rdb
.env
.backups

scripts

# primsa 
prisma/migrations/

src/backups/

# Packages #
############
# it’s better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
